<h1>Cartographie applicative</h1>
<p><%= @app_modules_count %> Modules applicatifs - <%= @app_roles_count %> Rôles - <%= @applications_count %> Applications -
<%= @deployments_count %> Types de déploiement - <%= @entities_count %> Entités - <%= @hosts_count %> Hôtes -
<%= @lifecycles_count %> Cycles de vie - <%= @mainteners_count %> Mainteneurs - <%= @people_count %> Contacts - 
<%= @realisations_count %> Déploiements - <%= @techno_instances_count %> Instances - <%= @technologies_count %> Eléments techniques</p>
