<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <div class="col-lg-12">
        <h2 id="type-blockquotes"><%= link_to @techno_instance.technology.name, controller: :technologies, action: :show, id: @techno_instance.technology.id, :search => params[:search] %> <%= @techno_instance.name %></h2>
        <%= link_to @techno_instance.host.name, controller: :hosts, action: :show, id: @techno_instance.host.id, :search => params[:search] %>
      </div>
      <blockquote>
        <p><%= @techno_instance.note %></p>
        <span class="label label-info"><%= link_to "#" + @techno_instance.id.to_s, rails_admin.edit_path(model_name: "techno_instance", id: @techno_instance.id) %></span> <span class="label label-default"><%= @techno_instance.updated_at %></span>
      </blockquote>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="bs-component">

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"></span> Cycle de vie</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @realisations.each do |r| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge"><%= r[1] %></span>
                  <%= link_to r[0][:name], controller: "lifecycles", action: :show, id: r[0][:id], :search => params[:search] %> - <%= r[0][:note] %>
                </li>
              </ul>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
