<div class="row">
  <div class="col-lg-8">
    <div class="bs-component">
      <div class="col-lg-12">
        <h2 id="type-blockquotes"><%= @person.name %></h2>
      </div>
      <blockquote>
        <p><%= @person.note %></p>
        <span class="label label-info"><%= link_to "#" + @person.id.to_s, rails_admin.edit_path(model_name: "person", id: @person.id) %></span> <span class="label label-default"><%= @person.updated_at %></span>
      </blockquote>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Rôles <span class="badge"><%= @powers.count %></span></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @powers.each do |p| %>
              <li class="list-group-item">
                <b><%= link_to p.app_role.name, controller: p.app_role.class.name.tableize, action: :show, id: p.app_role.id, :search => params[:search] %></b> <%= p.app_role.note %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Applications <span class="badge"><%= @applications.count %></span></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @applications.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @app_modules.count %></span> Modules applicatifs</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @app_modules.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Entités <span class="badge"><%= @entities.count %></span></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @entities.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Mainteneurs <span class="badge"><%= @mainteners.count %></span></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @mainteners.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
