<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <div class="col-lg-12">
        <h2 id="type-blockquotes"><%= @host.name %></h2>
      </div>
      <blockquote>
        <p><%= @host.note %></p>
        <div class="well well-sm">
          <%= @deployment.name %> - <b><%= @deployment.note %></b>
        </div>
        <span class="label label-info"><%= link_to "#" + @host.id.to_s, rails_admin.edit_path(model_name: "host", id: @host.id) %></span> <span class="label label-default"><%= @host.updated_at %></span>
        <% if @lifecycles.count==1 %>
          <span class="label label-success"><%= @lifecycles.first.name %></span>
        <% else %>
          <% firstisok = "success"%>
          <% @lifecycles.each do |l| %>
            <span class="label label-<%= firstisok %>"><%= l.name %></span>
            <% firstisok = "warning" %>
          <% end %>
        <% end %>
      </blockquote>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="bs-component">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @contracts.count %></span> Contrats de support</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @contracts.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.maintener.name, controller: p.maintener.class.name.tableize, action: :show, id: p.maintener.id, :search => params[:search]%> /
                 <%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <% if @contracts.count == 0 %>
      <div class="alert alert-dismissible alert-danger"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh mince!</strong> Un <%= link_to "contrat de support" , rails_admin.new_path(model_name: "contract", class: "alert-link") %> <span class="glyphicon glyphicon-plus"></span>
        ajouté à <%= link_to "cet hôte" , rails_admin.edit_path(model_name: "host", id: @host.id, class: "alert-link") %> <span class="glyphicon glyphicon-pencil"></span> serait bienvenu.
      </div>
      <% elsif @techno_instances.count == 0 %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
        <strong>Gasp!</strong> Une
        <%= link_to "instance" , rails_admin.new_path(model_name: "techno_instance", class: "alert-link") %> <span class="glyphicon glyphicon-plus"></span>
          ajouté à <%= link_to "cet hôte" , rails_admin.edit_path(model_name: "host", id: @host.id, class: "alert-link") %>
          <span class="glyphicon glyphicon-pencil"></span> serait bienvenu.
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @techno_instances.count %></span> Instances</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @techno_instances.each do |p| %>
              <li class="list-group-item">
                <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @technologies.count %></span> Eléments technologiques</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @technologies.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bs-component">
      <% if @lifecycles.count > 1 %>
        <div class="panel panel-warning">
      <% else %>
      <div class="panel panel-default">
      <% end %>
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @lifecycles.count %></span> Cycle de vie</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @lifecycles.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @applications.count %></span> Applications</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @applications.each do |p| %>
              <li class="list-group-item">
                <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"><%= @app_modules.count %></span> Modules applicatifs</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <% @app_modules.each do |p| %>
            <li class="list-group-item">
              <b><%= link_to p.name, controller: p.class.name.tableize, action: :show, id: p.id, :search => params[:search] %></b> <%= p.note %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
