<%= render(partial: "/layouts/showitem_top", locals: {item: @discovery, parent: @discovery_tool}) %>
<%= render(partial: "/layouts/listitems", locals: {items: @discovery_items}) %>
<%= form_tag( {action: "search", method: "post"}, class: "form-horizontal" ) do %>
  <fieldset>
    <legend>Lancer une découverte</legend>
    <div class="form-group">
      <label for="iName" class="col-lg-2 control-label">Compte utilisateur</label>
      <div class="col-lg-10">
        <%= text_field_tag :iName, nil, class:'form-control', placeholder: @discovery.credential %>
      </div>
    </div>
    <div class="form-group">
      <label for="iPassword" class="col-lg-2 control-label">Mot de passe</label>
      <div class="col-lg-10">
        <%= password_field_tag :iPassword, nil, class:'form-control' %>
      </div>
      <label for="isaveresult" class="col-lg-2 control-label">Mise à jour</label>
      <div class="col-lg-10">
        <%= check_box_tag :iSaveresult, 'yes', false %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= button_tag(:class => "btn btn-default") do %>
           <span class='glyphicon glyphicon-search'>&nbsp;Découvrir</span>
        <% end %>
        <%= button_tag(name: "export", :class => "btn btn-default") do %>
           <span class='glyphicon glyphicon-export'>&nbsp;Exporter</span>
        <% end %>
      </div>
    </div>
  </fieldset>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      <div style="margin-bottom: 15px;">
      <div class="btn-toolbar bs-component" style="margin: 0;">
        <div class="btn-group">
          <%= link_to "Export", exportfull_discovery_path(@discovery.id), method: :post, datacompared: @datacompared, class: "btn btn-default" %>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Changements</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="bs-component">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <% @analysed_data.each do |da| %>
              <th><%= da[:k] %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
            <% @analysed_data.each do |da| %>
              <td>
              <% da[:v].each do |db|%>
                <% monStyle = "" %>
                <% db[:attr].each do |attribut| %>
                  <% if (attribut[:name]=="hostesx") && (attribut[:changed]) %>
                    <% monStyle = "<b>(!)</b>" %>
                  <% end %>
                <% end %>
                <%= raw monStyle %><%= db[:host] %><br/>
              <% end %>
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div><!-- /example -->
    </div>
  </div>
</div>
