<% if (defined? items) && (! items.nil?) && (items.count > 0) %>
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% if (defined? icon) %>
              <span class='<%= "glyphicon glyphicon-#{icon}" %>'></span>&nbsp;
            <% end %>
            <span class="badge"></span>&nbsp;
            <%= (defined? toptitle) ? toptitle : items.first.class.humanize_model(true) %>&nbsp;
            <span class="badge"><%= items.count %></span>
          </h3>
        </div>
        <div class="list-group">
          <% discoveryid = attributetypeid = nil %>
          <% my_locals = {elements: []} %>
          <% items.each do |r| %>
            <% if discoveryid.nil? || (discoveryid==r.discovery_id && attributetypeid==r.attribute_type_id)
                my_locals[:elements].push r
               else %>
              <%= render(partial: "/layouts/attr_time", locals: my_locals) %>
              <%  my_locals = {elements: [r]}
                  my_locals.merge!(puts_date: puts_date.to_sym) if (defined? puts_date)
               end %>
               <% discoveryid = r.discovery_id
                  attributetypeid = r.attribute_type_id %>
          <% end %>
          <%= render(partial: "/layouts/attr_time", locals: my_locals) unless my_locals.empty? %>
        </div>
      </div>
    </div>
  </div>
<% end %>
