<% if (defined? items) && (! items.nil?) && (items.count > 0) %>
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="badge"></span> <%= (defined? toptitle) ? toptitle : items.first.class.humanize_model(true) %> <span class="badge"><%= items.count %></span></h3>
        </div>
        <div class="list-group">
          <% items.each do |r| %>
            <%= link_to r, :search => params[:search], class: "list-group-item" do %>
                <h5 class="list-group-item-heading"><%= r.name.upcase %>&nbsp;</h5>
                <p class="list-group-item-text">
                  <%= r.note %>
                  <% if (defined? puts_date) %>
                    <span class="label label-default"><%= humanize(DateTime.now.to_i-r[puts_date].to_i) %></span>
                  <% end %>
                </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
