<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AppsMgt</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://brinkslatam.service-now.com">Service-now <span class="sr-only">(current)</span></a></li>
            <li><a href="http://frmonnxthnk06.emea.brinksgbl.com">Nexthink</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informations <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "applications", title: "Applications"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "app_modules", title: "Modules Applicatifs"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "app_roles", title: "Rôles"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "realisations", title: "Déploiements Applicatifs"}) %></li>
                <li class="divider"></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "technologies", title: "Eléments technologiques"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "techno_instances", title: "Instances"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "documents", title: "Documents"}) %></li>
                <li class="divider"></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "mainteners", title: "Mainteneurs"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "hosts", title: "Hôtes"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "contracts", title: "Contrats"}) %></li>
                <li class="divider"></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "entities", title: "Entités"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "people", title: "Contacts"}) %></li>
                <li class="divider"></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "deployments", title: "Types de déploiement"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "lifecycles", title: "Cycles de vie"}) %></li>
                <li><%= render(partial: "/layouts/menuitem", locals: {element: "document_types", title: "Types de documents"}) %></li>
              </ul>
            </li>
          </ul>
          <%= form_tag("/main/search", method: "get", class: "navbar-form navbar-left", role: "search") do %>
            <div class="form-group">
              <%= text_field_tag(:search, params[:search], class: "form-control") %>
            </div>
            <%= submit_tag("Chercher", class: "btn btn-default") %>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Tableau de bord", rails_admin.dashboard_path() %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <h1>&nbsp;</h1>
      <%= yield %>
    </div>
  </body>
</html>
